  <div class="container">
    <h1>Cadastro de produtos</h1>
    <div class="mb-3">
        <label for="name" class="form-label">Email address</label>
        <input type="text" class="form-control" id="name" placeholder="Digite o nome do produto">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Preço</label>
        <input type="number" class="form-control" id="price" placeholder="Digite o preço do produto">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="name" placeholder="Digite a categoria do produto">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>