<div class="container">
  <button class="btn btn-primary" (click)="create()">Novo</button>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{product.id}}</th>
      <td>Processador: <a [routerLink]="['/product',product.id]">{{product.name}}</a></td>
      <td>R$ {{product.price}}</td>
      <td>{{product.category}}</td>
      <td><button class="btn btn-danger"(click)="delete(product)">Remover</button></td>
    </tr>
  </tbody>
  </table>


</div>